<!DOCTYPE html>
<html>
  <%- include('header', {title: `Auction details | Skyblock Item Prices List`, script: 'auction-script'}); %>
  <body style="background-color: #101010; color: white;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.min.js" integrity="sha256-NGC9JEuTWN4GhTj091wctgjzftr+8WNDmw0H8J5YPYE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/InventivetalentDev/MineRender@1.1.0/dist/model.min.js"></script>
    <script type="text/javascript">
      function convertColorCode(s) {
        s = s.replace(/\u00A70\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #000;"><b>$1</b></span>');
        s = s.replace(/\u00A71\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #00a;"><b>$1</b></span>');
        s = s.replace(/\u00A72\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #0a0;"><b>$1</b></span>');
        s = s.replace(/\u00A73\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #0aa;"><b>$1</b></span>');
        s = s.replace(/\u00A74\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #a00;"><b>$1</b></span>');
        s = s.replace(/\u00A75\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #a0a;"><b>$1</b></span>');
        s = s.replace(/\u00A76\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #fa0;"><b>$1</b></span>');
        s = s.replace(/\u00A77\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #aaa;"><b>$1</b></span>');
        s = s.replace(/\u00A78\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #555;"><b>$1</b></span>');
        s = s.replace(/\u00A79\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #55f;"><b>$1</b></span>');
        s = s.replace(/\u00A7a\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #5f5;"><b>$1</b></span>');
        s = s.replace(/\u00A7b\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #5ff;"><b>$1</b></span>');
        s = s.replace(/\u00A7c\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #f55;"><b>$1</b></span>');
        s = s.replace(/\u00A7d\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #f5f;"><b>$1</b></span>');
        s = s.replace(/\u00A7e\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #ff5;"><b>$1</b></span>');
        s = s.replace(/\u00A7f\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #fff;"><b>$1</b></span>');
        // ---
        s = s.replace(/\u00A70(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #000;">$1</span>');
        s = s.replace(/\u00A71(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #00a;">$1</span>');
        s = s.replace(/\u00A72(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #0a0;">$1</span>');
        s = s.replace(/\u00A73(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #0aa;">$1</span>');
        s = s.replace(/\u00A74(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #a00;">$1</span>');
        s = s.replace(/\u00A75(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #a0a;">$1</span>');
        s = s.replace(/\u00A76(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #fa0;">$1</span>');
        s = s.replace(/\u00A77(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #aaa;">$1</span>');
        s = s.replace(/\u00A78(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #555;">$1</span>');
        s = s.replace(/\u00A79(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #55f;">$1</span>');
        s = s.replace(/\u00A7a(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #5f5;">$1</span>');
        s = s.replace(/\u00A7b(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #5ff;">$1</span>');
        s = s.replace(/\u00A7c(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #f55;">$1</span>');
        s = s.replace(/\u00A7d(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #f5f;">$1</span>');
        s = s.replace(/\u00A7e(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #ff5;">$1</span>');
        s = s.replace(/\u00A7f(.*?)(?=\u00A7|\n|$)/gm, '<span style="color: #fff;">$1</span>');
        s = s.replace(/\u00A7k(.*?)(?=\u00A7|\n|$)/gm, '$1');
        s = s.replace(/\u00A7l(.*?)(?=\u00A7|\n|$)/gm, '<b>$1</b>');
        s = s.replace(/\u00A7m(.*?)(?=\u00A7|\n|$)/gm, '<strike>$1</strike>');
        s = s.replace(/\u00A7n(.*?)(?=\u00A7|\n|$)/gm, '<u>$1</u>');
        s = s.replace(/\u00A7o(.*?)(?=\u00A7|\n|$)/gm, '<i>$1</i>');
        s = s.replace(/\u00A7r(.*?)(?=\u00A7|\n|$)/gm, '$1');
        return s;
      }
    </script>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skyblock Item Prices List</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li style='font-size: 10px;'>All auctions are updated every 1 day for avoid abusing APIs.&nbsp;&nbsp;&nbsp;</li>
        </ul>
      </div>
    </nav>
    <br />
    <div class="row container">
      <div class="row" style="background-color: #1e1e1e; border: 3px solid #000;">
        <div class="row left" style="background-color: #121416; border: 3px solid #000; margin-left: 5px; margin-right: 2px; margin-top: 5px; margin-bottom: 5px; width: 40%; min-height: 300px;">
          <div id="itemContainer"></div>
          <div id="itemName" style="font-size: 25px"></div>
          <div id="description"></div>
        </div>
        <div class="container row col right" style="background-color: #121416; border: 3px solid #000; margin-left: 2px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px; min-height: 300px; width: 58%;">
          <span style="font-size: 25px; color: #5c5;">Highest Bid:</span>
          <br>
          <span style="font-size: 35px; color: #f55;"><%= data.highest_bid_amount.toLocaleString() %> coins</span>
          <br>
          <br>
          <span style="font-size: 17px; color: #5c5;">Auction Quantity</span>
          <br>
          <span style="font-size: 25px; color: #f55;"><%= data.item_data.Count.value %></span>
          <br>
          <br>
          <span style="font-size: 17px; color: #5c5;">Average Price</span>
          <br>
          <span style="font-size: 25px; color: #f55;"><%= avgPrice.toLocaleString() %> coins</span>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      const modelRender = new ModelRender({
        centerCubes: true,
        assetRoot: "https://assets.mcasset.cloud/1.12.2",
        canvas: {
          width: 128,
          height: 128,
        },/*
        camera: {
          x: 0,
          y: 0,
          z: 0,
          target: [0, 0, 0],
        },*/
        autoResize: false,
      }, document.getElementById("itemContainer"));
      modelRender.render(["item/<%= item_name %>"])
      document.getElementById("itemName").innerHTML = convertColorCode(auction.display_name)
      document.getElementById("description").innerHTML = convertColorCode(auction.item_lore)
    </script>
  </body>
</html>